* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.advert {
    text-align: center;
    height: 250px;
    width: 300px;
}

.product__img {
    height: 150px;
    width: 226px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product__info {
    padding: 11px;
    width: 226px;
    height: 70px;
    background-color: #191D3A;
    display: inline-block;
    margin-bottom: 10px;
}

.product__title {
    font-size: 12px;
    color: #e7637a;
    margin: 0 0 5px;
}

.product__btn {
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
    color: #43d1c0;
    padding: 5px 20px;
    border: 2px solid #43d1c0;
}

/* SLIDER */

.slides {
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
}

.nav label {
    width: 36px;
    display: none;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    color: #e7637a;
    font-size: 38px;
    top: 50%;
    transform: translateY(-50%);
}

.nav label:hover {
    color: #43d1c0;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    top: 145px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: #e7637a;
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: #43d1c0;
}

input#img-0:checked ~ .nav-dots label#img-dot-0,
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2 {
    background-color: #43d1c0;
}
